@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.cell {
  width: 50px;
  height: 50px;
}
.cell.bg-black {
  background-color: #000;
}
.cell.bg-white {
  background-color: #fff;
}
.checker {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.checker.player1 {
  background-color: red;
}
.checker.player2 {
  background-color: black;
}
